
/* Main megamenu 
--------------------------------------------------------------------------------*/
.menu-nav > li ul.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 999;
}
/*menu drop down*/
.menu-nav > li ul.dropdown-menu{
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-boxshadow: none;
    -moz-boxshadow: none;
    -ms-boxshadow: none;
    -o-boxshadow: none;
    box-shadow: none;
}
.menu-nav > li ul li:last-child{
  border-bottom: none;
}
.menu-nav > li ul li a {
    line-height: 14px;
    z-index: 999;
    display: block;
    text-transform: capitalize;
    padding: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

   .menu-nav > li:hover ul {
       margin: 0;
    }
  .menu-nav > li ul.dropdown-menu ul{
    top: 0;
    left: 100%;
    padding-left: 0;
  }
.button-menu {
    font-size: 20px;
    width: 18px;
    position: relative;
    display: none;
    height: 12px;
    margin-top: 8px;
    cursor: pointer;
    border-top: 2px solid #000;
}
.button-menu:after,
.button-menu:before {
    display: block;
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #fff;
    content: '';
    left: 0;
}

    .button-menu:after {
        bottom: 0px;
    }

    .button-menu:before {
        top: 3px;
    }

.social-menu {
    display: none;
}

    .social-menu a {
        color: #252525;
        font-size: 14px;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
.social-menu a:hover{
    color: #428bca;
}
/*====================== SHOW EFFECTS ======================*/
/* fade */
.menu-nav.ts-effect-fade > li > div,
.menu-nav.ts-effect-fade li > ul {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .4s ease, visibility .4s linear 0s;
  -moz-transition: opacity .4s ease, visibility .4s linear 0s;
  -ms-transition: opacity .4s ease, visibility .4s linear 0s;
  -o-transition: opacity .4s ease, visibility .4s linear 0s;
  transition: opacity .4s ease, visibility .4s linear 0s;
}
.menu-nav.ts-effect-fade.ts-menu-destop > li:hover > div,
.menu-nav.ts-effect-fade.ts-menu-destop li:hover > ul,
.menu-nav.ts-effect-fade > li.ts_hover > div,
.menu-nav.ts-effect-fade li.ts_hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .4s ease;
  -moz-transition: opacity .4s ease;
  -ms-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease;
}
/* slide */
.menu-nav.ts-effect-slide-top > li > div,
.menu-nav.ts-effect-slide-top li > ul {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.menu-nav.ts-effect-slide-bottom > li > div,
.menu-nav.ts-effect-slide-bottom li > ul {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
}
.menu-nav.ts-effect-slide-left > li > div,
.menu-nav.ts-effect-slide-left li > ul {
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transform: translateX(50px);
}
.menu-nav.ts-effect-slide-right > li > div,
.menu-nav.ts-effect-slide-right li > ul {
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  transform: translateX(-50px);
}
.menu-nav.ts-effect-slide-top > li > div,
.menu-nav.ts-effect-slide-bottom > li > div,
.menu-nav.ts-effect-slide-left > li > div,
.menu-nav.ts-effect-slide-right > li > div,
.menu-nav.ts-effect-slide-top li > ul,
.menu-nav.ts-effect-slide-bottom li > ul,
.menu-nav.ts-effect-slide-left li > ul,
.menu-nav.ts-effect-slide-right li > ul {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease, visibility 0.4s linear 0s;
  -moz-transition: opacity 0.4s ease, -moz-transform 0.4s ease, visibility 0.4s linear 0s;
  -ms-transition: opacity 0.4s ease, -ms-transform 0.4s ease, visibility 0.4s linear 0s;
  -o-transition: opacity 0.4s ease, -o-transform 0.4s ease, visibility 0.4s linear 0s;
  transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
}
.menu-nav.ts-effect-slide-top.ts-menu-destop > li:hover > div,
.menu-nav.ts-effect-slide-bottom.ts-menu-destop > li:hover > div,
.menu-nav.ts-effect-slide-left.ts-menu-destop > li:hover > div,
.menu-nav.ts-effect-slide-right.ts-menu-destop > li:hover > div,
.menu-nav.ts-effect-slide-top.ts-menu-destop li:hover > ul,
.menu-nav.ts-effect-slide-bottom.ts-menu-destop li:hover > ul,
.menu-nav.ts-effect-slide-left.ts-menu-destop li:hover > ul,
.menu-nav.ts-effect-slide-right.ts-menu-destop li:hover > ul,
.menu-nav.ts-effect-slide-top > li.ts_hover > div,
.menu-nav.ts-effect-slide-bottom > li.ts_hover > div,
.menu-nav.ts-effect-slide-left > li.ts_hover > div,
.menu-nav.ts-effect-slide-right > li.ts_hover > div,
.menu-nav.ts-effect-slide-top li.ts_hover > ul,
.menu-nav.ts-effect-slide-bottom li.ts_hover > ul,
.menu-nav.ts-effect-slide-left li.ts_hover > ul,
.menu-nav.ts-effect-slide-right li.ts_hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  -moz-transition: opacity 0.4s ease, -moz-transform 0.4s ease;
  -ms-transition: opacity 0.4s ease, -ms-transform 0.4s ease;
  -o-transition: opacity 0.4s ease, -o-transform 0.4s ease;
  transition: opacity .4s ease, transform .4s ease;
}
.menu-nav > li + li {
}
.menu-nav.ts-position-left > li + li,
.menu-nav.ts-position-right > li + li {
  margin-left: 0;
  margin-top: 10px;
}
====================== RESPONSIVE ======================

*/
@media screen and (max-width: 768px) {
  /* ====================== MAIN ====================== */
  .menu-nav[class*='ts-response'] > li {
    position: relative;
  }
  .menu-nav[class*='ts-response'] > li > ul,
  .menu-nav[class*='ts-response'] > li > div.ts-multi-column > ul,
  .menu-nav[class*='ts-response'] > li > ul ul,
  .menu-nav[class*='ts-response'] > li > div.ts-multi-column > ul ul {
    left: 0;
    right: 0;
    width: auto !important;
    margin-right: 0;
  }
  .menu-nav[class*='ts-response'] > li > ul ul,
  .menu-nav[class*='ts-response'] > li > div.ts-multi-column > ul ul {
    top: 100%;
    margin-left: 39px !important;
  }
  .menu-nav[class*='ts-response'].ts-position-bottom > li > ul ul,
  .menu-nav[class*='ts-response'].ts-position-bottom > li > div.ts-multi-column > ul ul,
  .menu-nav[class*='ts-response'].ts-position-bottom > li > ul ul.ts-drop-left,
  .menu-nav[class*='ts-response'].ts-position-bottom > li > div.ts-multi-column > ul ul.ts-drop-left {
    left: 0;
    top: auto;
    bottom: 100%;
  }
  .menu-nav[class*='ts-response'].ts-position-left > li > ul,
  .menu-nav[class*='ts-response'].ts-position-left > li > div.ts-multi-column > ul,
  .menu-nav[class*='ts-response'].ts-position-right > li > ul,
  .menu-nav[class*='ts-response'].ts-position-right > li > div.ts-multi-column > ul {
    top: 100%;
    left: 0;
    right: 0;
  }
  .menu-nav[class*='ts-response'].ts-position-left > li > ul ul,
  .menu-nav[class*='ts-response'].ts-position-left > li > div.ts-multi-column > ul ul,
  .menu-nav[class*='ts-response'].ts-position-right > li > ul ul,
  .menu-nav[class*='ts-response'].ts-position-right > li > div.ts-multi-column > ul ul,
  .menu-nav[class*='ts-response'].ts-position-left > li > ul ul.ts-drop-left,
  .menu-nav[class*='ts-response'].ts-position-left > li > div.ts-multi-column > ul ul.ts-drop-left,
  .menu-nav[class*='ts-response'].ts-position-right > li > ul ul.ts-drop-left,
  .menu-nav[class*='ts-response'].ts-position-right > li > div.ts-multi-column > ul ul.ts-drop-left {
    left: 0;
    right: 0;
    top: 100%;
  }
  .menu-nav[class*='ts-response'].ts-position-left > li.ts-content > div,
  .menu-nav[class*='ts-response'].ts-position-left > li.megamenu-item > div,
  .menu-nav[class*='ts-response'].ts-position-right > li.ts-content > div,
  .menu-nav[class*='ts-response'].ts-position-right > li.megamenu-item > div {
    top: 100%;
    left: 0;
    right: 0;
  }
  .menu-nav[class*='ts-response'] li > div {
    top: 100%;
    left: 0 !important;
    right: 0;
    width: auto !important;
  }
  .menu-nav[class*='ts-response'] li > div.ts-multi-column > ul {
    width: 100% !important;
  }
  .menu-nav[class*='ts-response'] .ts-row .ts-col {
    display: block;
    margin-right: 0;
    width: 100% !important;
    float: none;
  }
  .menu-nav[class*='ts-response'] .w-50,
  .menu-nav[class*='ts-response'] .w-100,
  .menu-nav[class*='ts-response'] .w-150,
  .menu-nav[class*='ts-response'] .w-200,
  .menu-nav[class*='ts-response'] .w-250,
  .menu-nav[class*='ts-response'] .w-300,
  .menu-nav[class*='ts-response'] .w-350,
  .menu-nav[class*='ts-response'] .w-400,
  .menu-nav[class*='ts-response'] .w-450,
  .menu-nav[class*='ts-response'] .w-500,
  .menu-nav[class*='ts-response'] .w-550,
  .menu-nav[class*='ts-response'] .w-600,
  .menu-nav[class*='ts-response'] .w-650,
  .menu-nav[class*='ts-response'] .w-700,
  .menu-nav[class*='ts-response'] .w-750,
  .menu-nav[class*='ts-response'] .w-800,
  .menu-nav[class*='ts-response'] .w-850,
  .menu-nav[class*='ts-response'] .w-900,
  .menu-nav[class*='ts-response'] .w-950,
  .menu-nav[class*='ts-response'] .w-1000 {
    width: 100%;
  }
  /* ====================== SIMPLE ====================== */
  .menu-nav.ts-response-simple > li {
    position: static;
  }
  .menu-nav.ts-response-simple > li > a {
    font-size: 0;
  }
  .menu-nav.ts-response-simple > li > a i {
    letter-spacing: 0;
  }
  .menu-nav.ts-response-simple > li > a .ts-caret {
    display: none;
  }
  .menu-nav.ts-response-simple > li.ts-logo {
    display: none;
  }
  .menu-nav.ts-response-simple > li.ts-search {
    position: relative;
  }
  /* ====================== STACK ====================== */
  .menu-nav.ts-response-stack > li {
    display: block;
    float: none;
  }
  .menu-nav.ts-response-stack > li + li {
    margin-left: 0;
    margin-top: 10px;
  }
  .menu-nav.ts-response-stack > li.megamenu-item {
    position: relative;
  }
  .menu-nav.ts-response-stack > li.ts-logo {
    text-align: center;
  }
  .menu-nav.ts-response-stack > li.ts-logo img {
    position: relative;
  }
  .menu-nav.ts-response-stack > li.ts-logo,
  .menu-nav.ts-response-stack > li.ts-right-item {
    position: relative;
    width: 100%;
  }
  .menu-nav.ts-response-stack > li > a .ts-caret {
    float: right;
  }
  .menu-nav.ts-response-stack .ts-search {
    float: none;
  }
  .menu-nav.ts-response-stack .ts-search input {
    width: 100%;
  }
  /* ====================== SWITCH ====================== */
  .menu-nav.ts-response-switch > li {
    display: none;
    float: none;
    position: relative;
    width: 100%;
  }
  .menu-nav.ts-response-switch > li + li {
    margin-left: 0;
    margin-top: 10px;
  }
  .menu-nav.ts-response-switch > li.ts-logo {
    display: block;
  }
  .menu-nav.ts-response-switch > li.ts-logo img {
    position: relative;
    z-index: 1;
  }
  .menu-nav.ts-response-switch:before {
    font-family: FontAwesome;
    content: '\f0c9';
    position: relative;
    float: right;
    cursor: pointer;
    line-height: 39px;
    height: 39px;
    padding: 0 14px;
    z-index: 2;
  }
  .menu-nav.ts-response-switch:hover:before {
    opacity: 0;
  }
  .menu-nav.ts-response-switch:hover > li {
    display: block;
  }
  .menu-nav.ts-response-switch > li > a .ts-caret {
    float: right;
  }
  .menu-nav.ts-response-switch .ts-search {
    float: none;
  }
  .menu-nav.ts-response-switch .ts-search input {
    width: 100%;
  }
  /* ====================== RESPONSE MARGIN ====================== */
  .menu-nav.ts-response-margin > li > ul,
  .menu-nav.ts-response-margin li > div {
    margin-left: 39px !important;
  }
}

/* Megamenu */
.vc_row {
  margin-left: -15px;
  margin-right: -15px;
}
.dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after, .vc_row:before, .vc_row:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after, .vc_row:after {
  clear: both;
}
.vc_col-xs-1, .vc_col-sm-1, .vc_col-md-1, .vc_col-lg-1, .vc_col-xs-2, .vc_col-sm-2, .vc_col-md-2, .vc_col-lg-2, .vc_col-xs-3, .vc_col-sm-3, .vc_col-md-3, .vc_col-lg-3, .vc_col-xs-4, .vc_col-sm-4, .vc_col-md-4, .vc_col-lg-4, .vc_col-xs-5, .vc_col-sm-5, .vc_col-md-5, .vc_col-lg-5, .vc_col-xs-6, .vc_col-sm-6, .vc_col-md-6, .vc_col-lg-6, .vc_col-xs-7, .vc_col-sm-7, .vc_col-md-7, .vc_col-lg-7, .vc_col-xs-8, .vc_col-sm-8, .vc_col-md-8, .vc_col-lg-8, .vc_col-xs-9, .vc_col-sm-9, .vc_col-md-9, .vc_col-lg-9, .vc_col-xs-10, .vc_col-sm-10, .vc_col-md-10, .vc_col-lg-10, .vc_col-xs-11, .vc_col-sm-11, .vc_col-md-11, .vc_col-lg-11, .vc_col-xs-12, .vc_col-sm-12, .vc_col-md-12, .vc_col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.wpb_row, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {
  margin-bottom: 35px;
}
.vc_col-xs-1, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12 {
  float: left;
}
.vc_col-xs-12 {
  width: 100%;
}
.vc_col-xs-11 {
  width: 91.66666667%;
}
.vc_col-xs-10 {
  width: 83.33333333%;
}
.vc_col-xs-9 {
  width: 75%;
}
.vc_col-xs-8 {
  width: 66.66666667%;
}
.vc_col-xs-7 {
  width: 58.33333333%;
}
.vc_col-xs-6 {
  width: 50%;
}
.vc_col-xs-5 {
  width: 41.66666667%;
}
.vc_col-xs-4 {
  width: 33.33333333%;
}
.vc_col-xs-3 {
  width: 25%;
}
.vc_col-xs-2 {
  width: 16.66666667%;
}
.vc_col-xs-1 {
  width: 8.33333333%;
}
.vc_col-xs-pull-12 {
  right: 100%;
}
.vc_col-xs-pull-11 {
  right: 91.66666667%;
}
.vc_col-xs-pull-10 {
  right: 83.33333333%;
}
.vc_col-xs-pull-9 {
  right: 75%;
}
.vc_col-xs-pull-8 {
  right: 66.66666667%;
}
.vc_col-xs-pull-7 {
  right: 58.33333333%;
}
.vc_col-xs-pull-6 {
  right: 50%;
}
.vc_col-xs-pull-5 {
  right: 41.66666667%;
}
.vc_col-xs-pull-4 {
  right: 33.33333333%;
}
.vc_col-xs-pull-3 {
  right: 25%;
}
.vc_col-xs-pull-2 {
  right: 16.66666667%;
}
.vc_col-xs-pull-1 {
  right: 8.33333333%;
}
.vc_col-xs-pull-0 {
  right: auto;
}
.vc_col-xs-push-12 {
  left: 100%;
}
.vc_col-xs-push-11 {
  left: 91.66666667%;
}
.vc_col-xs-push-10 {
  left: 83.33333333%;
}
.vc_col-xs-push-9 {
  left: 75%;
}
.vc_col-xs-push-8 {
  left: 66.66666667%;
}
.vc_col-xs-push-7 {
  left: 58.33333333%;
}
.vc_col-xs-push-6 {
  left: 50%;
}
.vc_col-xs-push-5 {
  left: 41.66666667%;
}
.vc_col-xs-push-4 {
  left: 33.33333333%;
}
.vc_col-xs-push-3 {
  left: 25%;
}
.vc_col-xs-push-2 {
  left: 16.66666667%;
}
.vc_col-xs-push-1 {
  left: 8.33333333%;
}
.vc_col-xs-push-0 {
  left: auto;
}
.vc_col-xs-offset-12 {
  margin-left: 100%;
}
.vc_col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.vc_col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.vc_col-xs-offset-9 {
  margin-left: 75%;
}
.vc_col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.vc_col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.vc_col-xs-offset-6 {
  margin-left: 50%;
}
.vc_col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.vc_col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.vc_col-xs-offset-3 {
  margin-left: 25%;
}
.vc_col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.vc_col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.vc_col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .vc_col-sm-1, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12 {
    float: left;
  }
  .vc_col-sm-12 {
    width: 100%;
  }
  .vc_col-sm-11 {
    width: 91.66666667%;
  }
  .vc_col-sm-10 {
    width: 83.33333333%;
  }
  .vc_col-sm-9 {
    width: 75%;
  }
  .vc_col-sm-8 {
    width: 66.66666667%;
  }
  .vc_col-sm-7 {
    width: 58.33333333%;
  }
  .vc_col-sm-6 {
    width: 50%;
  }
  .vc_col-sm-5 {
    width: 41.66666667%;
  }
  .vc_col-sm-4 {
    width: 33.33333333%;
  }
  .vc_col-sm-3 {
    width: 25%;
  }
  .vc_col-sm-2 {
    width: 16.66666667%;
  }
  .vc_col-sm-1 {
    width: 8.33333333%;
  }
  .vc_col-sm-pull-12 {
    right: 100%;
  }
  .vc_col-sm-pull-11 {
    right: 91.66666667%;
  }
  .vc_col-sm-pull-10 {
    right: 83.33333333%;
  }
  .vc_col-sm-pull-9 {
    right: 75%;
  }
  .vc_col-sm-pull-8 {
    right: 66.66666667%;
  }
  .vc_col-sm-pull-7 {
    right: 58.33333333%;
  }
  .vc_col-sm-pull-6 {
    right: 50%;
  }
  .vc_col-sm-pull-5 {
    right: 41.66666667%;
  }
  .vc_col-sm-pull-4 {
    right: 33.33333333%;
  }
  .vc_col-sm-pull-3 {
    right: 25%;
  }
  .vc_col-sm-pull-2 {
    right: 16.66666667%;
  }
  .vc_col-sm-pull-1 {
    right: 8.33333333%;
  }
  .vc_col-sm-pull-0 {
    right: auto;
  }
  .vc_col-sm-push-12 {
    left: 100%;
  }
  .vc_col-sm-push-11 {
    left: 91.66666667%;
  }
  .vc_col-sm-push-10 {
    left: 83.33333333%;
  }
  .vc_col-sm-push-9 {
    left: 75%;
  }
  .vc_col-sm-push-8 {
    left: 66.66666667%;
  }
  .vc_col-sm-push-7 {
    left: 58.33333333%;
  }
  .vc_col-sm-push-6 {
    left: 50%;
  }
  .vc_col-sm-push-5 {
    left: 41.66666667%;
  }
  .vc_col-sm-push-4 {
    left: 33.33333333%;
  }
  .vc_col-sm-push-3 {
    left: 25%;
  }
  .vc_col-sm-push-2 {
    left: 16.66666667%;
  }
  .vc_col-sm-push-1 {
    left: 8.33333333%;
  }
  .vc_col-sm-push-0 {
    left: auto;
  }
  .vc_col-sm-offset-12 {
    margin-left: 100%;
  }
  .vc_col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .vc_col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .vc_col-sm-offset-9 {
    margin-left: 75%;
  }
  .vc_col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .vc_col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .vc_col-sm-offset-6 {
    margin-left: 50%;
  }
  .vc_col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .vc_col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .vc_col-sm-offset-3 {
    margin-left: 25%;
  }
  .vc_col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .vc_col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .vc_col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .vc_col-md-1, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12 {
    float: left;
  }
  .vc_col-md-12 {
    width: 100%;
  }
  .vc_col-md-11 {
    width: 91.66666667%;
  }
  .vc_col-md-10 {
    width: 83.33333333%;
  }
  .vc_col-md-9 {
    width: 75%;
  }
  .vc_col-md-8 {
    width: 66.66666667%;
  }
  .vc_col-md-7 {
    width: 58.33333333%;
  }
  .vc_col-md-6 {
    width: 50%;
  }
  .vc_col-md-5 {
    width: 41.66666667%;
  }
  .vc_col-md-4 {
    width: 33.33333333%;
  }
  .vc_col-md-3 {
    width: 25%;
  }
  .vc_col-md-2 {
    width: 16.66666667%;
  }
  .vc_col-md-1 {
    width: 8.33333333%;
  }
  .vc_col-md-pull-12 {
    right: 100%;
  }
  .vc_col-md-pull-11 {
    right: 91.66666667%;
  }
  .vc_col-md-pull-10 {
    right: 83.33333333%;
  }
  .vc_col-md-pull-9 {
    right: 75%;
  }
  .vc_col-md-pull-8 {
    right: 66.66666667%;
  }
  .vc_col-md-pull-7 {
    right: 58.33333333%;
  }
  .vc_col-md-pull-6 {
    right: 50%;
  }
  .vc_col-md-pull-5 {
    right: 41.66666667%;
  }
  .vc_col-md-pull-4 {
    right: 33.33333333%;
  }
  .vc_col-md-pull-3 {
    right: 25%;
  }
  .vc_col-md-pull-2 {
    right: 16.66666667%;
  }
  .vc_col-md-pull-1 {
    right: 8.33333333%;
  }
  .vc_col-md-pull-0 {
    right: auto;
  }
  .vc_col-md-push-12 {
    left: 100%;
  }
  .vc_col-md-push-11 {
    left: 91.66666667%;
  }
  .vc_col-md-push-10 {
    left: 83.33333333%;
  }
  .vc_col-md-push-9 {
    left: 75%;
  }
  .vc_col-md-push-8 {
    left: 66.66666667%;
  }
  .vc_col-md-push-7 {
    left: 58.33333333%;
  }
  .vc_col-md-push-6 {
    left: 50%;
  }
  .vc_col-md-push-5 {
    left: 41.66666667%;
  }
  .vc_col-md-push-4 {
    left: 33.33333333%;
  }
  .vc_col-md-push-3 {
    left: 25%;
  }
  .vc_col-md-push-2 {
    left: 16.66666667%;
  }
  .vc_col-md-push-1 {
    left: 8.33333333%;
  }
  .vc_col-md-push-0 {
    left: auto;
  }
  .vc_col-md-offset-12 {
    margin-left: 100%;
  }
  .vc_col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .vc_col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .vc_col-md-offset-9 {
    margin-left: 75%;
  }
  .vc_col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .vc_col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .vc_col-md-offset-6 {
    margin-left: 50%;
  }
  .vc_col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .vc_col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .vc_col-md-offset-3 {
    margin-left: 25%;
  }
  .vc_col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .vc_col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .vc_col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .vc_col-lg-1, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12 {
    float: left;
  }
  .vc_col-lg-12 {
    width: 100%;
  }
  .vc_col-lg-11 {
    width: 91.66666667%;
  }
  .vc_col-lg-10 {
    width: 83.33333333%;
  }
  .vc_col-lg-9 {
    width: 75%;
  }
  .vc_col-lg-8 {
    width: 66.66666667%;
  }
  .vc_col-lg-7 {
    width: 58.33333333%;
  }
  .vc_col-lg-6 {
    width: 50%;
  }
  .vc_col-lg-5 {
    width: 41.66666667%;
  }
  .vc_col-lg-4 {
    width: 33.33333333%;
  }
  .vc_col-lg-3 {
    width: 25%;
  }
  .vc_col-lg-2 {
    width: 16.66666667%;
  }
  .vc_col-lg-1 {
    width: 8.33333333%;
  }
  .vc_col-lg-pull-12 {
    right: 100%;
  }
  .vc_col-lg-pull-11 {
    right: 91.66666667%;
  }
  .vc_col-lg-pull-10 {
    right: 83.33333333%;
  }
  .vc_col-lg-pull-9 {
    right: 75%;
  }
  .vc_col-lg-pull-8 {
    right: 66.66666667%;
  }
  .vc_col-lg-pull-7 {
    right: 58.33333333%;
  }
  .vc_col-lg-pull-6 {
    right: 50%;
  }
  .vc_col-lg-pull-5 {
    right: 41.66666667%;
  }
  .vc_col-lg-pull-4 {
    right: 33.33333333%;
  }
  .vc_col-lg-pull-3 {
    right: 25%;
  }
  .vc_col-lg-pull-2 {
    right: 16.66666667%;
  }
  .vc_col-lg-pull-1 {
    right: 8.33333333%;
  }
  .vc_col-lg-pull-0 {
    right: auto;
  }
  .vc_col-lg-push-12 {
    left: 100%;
  }
  .vc_col-lg-push-11 {
    left: 91.66666667%;
  }
  .vc_col-lg-push-10 {
    left: 83.33333333%;
  }
  .vc_col-lg-push-9 {
    left: 75%;
  }
  .vc_col-lg-push-8 {
    left: 66.66666667%;
  }
  .vc_col-lg-push-7 {
    left: 58.33333333%;
  }
  .vc_col-lg-push-6 {
    left: 50%;
  }
  .vc_col-lg-push-5 {
    left: 41.66666667%;
  }
  .vc_col-lg-push-4 {
    left: 33.33333333%;
  }
  .vc_col-lg-push-3 {
    left: 25%;
  }
  .vc_col-lg-push-2 {
    left: 16.66666667%;
  }
  .vc_col-lg-push-1 {
    left: 8.33333333%;
  }
  .vc_col-lg-push-0 {
    left: auto;
  }
  .vc_col-lg-offset-12 {
    margin-left: 100%;
  }
  .vc_col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .vc_col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .vc_col-lg-offset-9 {
    margin-left: 75%;
  }
  .vc_col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .vc_col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .vc_col-lg-offset-6 {
    margin-left: 50%;
  }
  .vc_col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .vc_col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .vc_col-lg-offset-3 {
    margin-left: 25%;
  }
  .vc_col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .vc_col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .vc_col-lg-offset-0 {
    margin-left: 0%;
  }
}
/*
//Grid
.vc_container-block {
    .container-fixed();
    @media (min-width: @screen-sm) {
        width: @container-sm;
    }
    @media (min-width: @screen-md) {
        width: @container-md;
    }
    @media (min-width: @screen-lg-min) {
        width: @container-lg;
    }
}
*/
.vc_pull-right {
  float: right !important;
}
.vc_pull-left {
  float: left !important;
}
.vc_clearfix:before,
.vc_clearfix:after {
  content: " ";
  display: table;
}
.vc_clearfix:after {
  clear: both;
}
.vc_clearfix:before,
.vc_clearfix:after {
  content: " ";
  display: table;
}
.vc_clearfix:after {
  clear: both;
}
.vc_el-clearfix {
  clear: both;
}
@media (max-width: 767px) {
  .vc_el-clearfix-xs {
    clear: both;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .vc_el-clearfix-sm {
    clear: both;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .vc_el-clearfix-md {
    clear: both;
  }
}
@media (min-width: 1200px) {
  .vc_el-clearfix-lg {
    clear: both;
  }
}
.vc_visible {
  display: block;
}
.vc_table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.vc_table > thead > tr > th,
.vc_table > tbody > tr > th,
.vc_table > tfoot > tr > th,
.vc_table > thead > tr > td,
.vc_table > tbody > tr > td,
.vc_table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.vc_table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.vc_table > caption + thead > tr:first-child > th,
.vc_table > colgroup + thead > tr:first-child > th,
.vc_table > thead:first-child > tr:first-child > th,
.vc_table > caption + thead > tr:first-child > td,
.vc_table > colgroup + thead > tr:first-child > td,
.vc_table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.vc_table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.vc_table .table {
  background-color: #ffffff;
}
.vc_table-bordered {
  border: 1px solid #dddddd;
}
.vc_table-bordered > thead > tr > th,
.vc_table-bordered > tbody > tr > th,
.vc_table-bordered > tfoot > tr > th,
.vc_table-bordered > thead > tr > td,
.vc_table-bordered > tbody > tr > td,
.vc_table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.vc_table-bordered > thead > tr > th,
.vc_table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.vc_txt_align_left {
  text-align: left;
}
.vc_txt_align_right {
  text-align: right;
}
.vc_txt_align_center {
  text-align: center;
}
.vc_txt_align_justify {
  text-align: justify;
  text-justify: inter-word;
}
.vc_el_width_50 {
  width: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.vc_el_width_60 {
  width: 60%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.vc_el_width_70 {
  width: 70%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.vc_el_width_80 {
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.vc_el_width_90 {
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.vc_el_width_100 {
  width: 100%;
}