a{
					color: #41C4DD;
				}
				.mobile-navigation{
					border-color:#41C4DD;
				}
				.mobile-navigation:hover, .mobile-navigation:focus{
					color: #41C4DD;
				}
				.ts-bt{
					background: #00498e;
					border-color:#00498e;
				}
				.ts-bt:hover, .ts-bt:focus{
					color: #00498e;
				}
				.breadcrumbs a:hover{
					color: #41C4DD;
				}
				.ts-style-button:hover{
					background: #41C4DD;
				}
				.top-header ul li a:hover, .top-header ul li a:hover .fa{
					color: #41C4DD;
				}
				.main-menu ul > li .dropdown-menu li a:hover,
				.main-menu ul > li .dropdown-menu li.active a,
				.main-menu ul > li .dropdown-menu li a:focus{
					color: #41C4DD;
				}
				.main-menu ul > li .dropdown-menu > li.menu-item-has-children > a:hover:after{
				  color: #41C4DD;
				}
				.ts-service-style-1 .service-icon:after{
					box-shadow: 0 0 0 4px #41C4DD;
					-moz-box-shadow: 0 0 0 4px #41C4DD;
					-webkit-box-shadow: 0 0 0 4px #41C4DD;
				}
				.ts-service-style-1:hover .service-icon{
					background: #41C4DD;
				}
				.ts-service-style-1 .read-more{
					color: #41C4DD;
				}
				.ts-search-domain input[type="submit"],
				.ts-search-domain input[type="submit"]:hover,
				.ts-search-domain input[type="submit"]:focus{
					background-color: #41C4DD;
				}
				.ts-search-domain .sm_links a:hover{
					color: #41C4DD;
				}
				.ts-pricing-table-style1 a.cta_pricing:hover,
				.ts-pricing-table-style1 a.cta_pricing:focus{
					background: #41C4DD;
				}
				.ts-pricing-table-style1.active{
					background: #41C4DD;
				}
				.ts-pricing-table-style1.active .price-unit{
					background: #41C4DD;
				}
				.ts-pricing-table-style1.active a.cta_pricing:hover,
				.ts-pricing-table-style1.active a.cta_pricing:focus{
					color: #41C4DD;
				}
				.ts-testimonial-style1 .client-quote .fa{
					color: #41C4DD;
				}
				.ts-testimonial-style1 .client-website a{
					color: #41C4DD;
				}
				.owl-theme .owl-controls .owl-page.active{
					border-color: #41C4DD;
				}
				.owl-theme .owl-controls .owl-page.active span, 
				.owl-theme .owl-controls.clickable .owl-page:hover span {
				  background: #41C4DD;
				}
				.ts-acordion h3 .fa{
					color: #41C4DD;
				}
				.ts-acordion.ui-accordion .ui-accordion-header .ui-accordion-header-icon{
					color: #41C4DD;
				}
				.ts-acordion .ui-accordion-header:before{
					color: #41C4DD;
				}
				.ts-acordion.ts-acordion-style2 .ui-accordion-header.ui-state-active{
					color: #41C4DD;
				}
				.ts-acordion.ts-acordion-style2.ui-accordion .ui-accordion-header.ui-state-active .ui-accordion-header-icon{
					color: #41C4DD;
				}
				.ts-domain-price-box .domain-price{
					color: #41C4DD;
				}
				.ts-service-style-2:hover .icon-service{
					color: #41C4DD;
				}
				.ts-service-style-2:hover h3{
					color: #41C4DD;
				}
				.ts-pricing-table-style2 a.cta_pricing:hover{
					background: #41C4DD;
				}
				.ts-pricing-table-style2.active{
					background: #41C4DD;
				}
				.ts-pricing-table-style2.active a.cta_pricing:hover{
					color: #41C4DD;
				}
				.ts-testimonial-style2 .client-website a {
				  color: #41C4DD;
				}
				.ts-testimonial-style2.dark .client-website a:hover{color: #41C4DD;}
				.ts-feature-item-style2 .icon-feature{
					color: #41C4DD;
				}
				.ts-feature-item-2 .feature-icon{
					background: #41C4DD;
				}
				.ts-item-post .ts-main-recent-post a:hover h4{
					color:#41C4DD;
				}
				.ts-item-post h4 a:hover{
					color: #41C4DD
				}
				.ts-item-post .ts-item-post-footer i{
					color: #41C4DD;
				}
				.ts-item-post .ts-item-post-footer a:hover{
					color: #41C4DD;
				}
				.ts-section-top-footer{
					background: #00498e;
				}
				.contact-info:hover span{
					border-color: #00498e;
				}
				.contact-info:hover span i{
					color: #00498e;
				}
				.ts-company-info a:hover{
					color: #41C4DD;
				}
				.ts-support ul li a:hover{
					color: #41C4DD;
				}
				.ts-support ul li i{
					color: #41C4DD;
				}
				.ts-control-pane ul li a:hover{
					color: #41C4DD;
				}
				.ts-control-pane ul li i{
					color: #41C4DD;
				}
				.ts-form-subscribe .subcribe-btn{
					background: #41C4DD;
				}
				.ts-social-footer a:hover span{
					background: #41C4DD;
				}
				.ts-menu-footer ul li a:hover{
					color: #41C4DD;
				}
				.ts-service-style3 a:hover h4{
					color: #41C4DD;
				}
				.ts-special-offer .ts-special-offer-content ul li:before{
					color: #41C4DD;
				}
				.ts-special-offer .ts-special-offer-content ul a:hover{
					color: #41C4DD;
				}
				.ts-hosting-price span.ts-special-offer-price{
					color:#41C4DD;
				}
				.ts-special-offer-content .ts-offer-right a{
					background: #41C4DD;
				}
				.ts-number-statistic i{
					color: #41C4DD;
				}
				.ts-number-statistic a:hover{
					color: #41C4DD;
				}
				.ts-number-statistic a:hover h3{
					color: #41C4DD;
				}
				.widget-list-posts i{
					color: #41C4DD;
				}
				.widget-list-posts a:hover{
					color: #41C4DD;
				}
				.ts-list-popular-topics li .red-text{
					color:#41C4DD;
				}
				footer .widget ul li a:before{
					color: #41C4DD;
				}
				.ts-big-caption span, .ts-big-caption-center span{
					color: #41C4DD;
				}
				.ts-caption-small-center{
					color: #41C4DD!important;
				}
				.ts-caption-small .fa{
					background: #41C4DD;
				}
				.ts-caption-small-right .fa{
					background: #41C4DD;
				}
				.ts-price-rev span, .ts-price-rev-right span{
					color: #41C4DD;}
				.ts-button-slide-2{
					background: #41C4DD!important;
					border-color: #41C4DD!important;
				}
				.ts-button-slide:hover{
					background: #41C4DD!important;
					border-color: #41C4DD!important;
				}
				.ts-button-slide-2:hover a,
				.ts-button-slide-2 a:hover{
					color: #41C4DD;
				}
				.ts-number{
					color: #41C4DD;
				}
				.tp-leftarrow.default:hover, .tp-rightarrow.default:hover{
					color: #41C4DD;
				}
				.ts-whmcs li .item-right strong a:hover{
					color: #41C4DD;
				}
				.date-post span.month{
					background: #41C4DD;
				}
				.blog-item h3 a:hover{
					color: #41C4DD;
				}
				.blog-meta li a:hover{
					color: #41C4DD;
				}
				.blog-meta li .fa{
					color: #41C4DD;
				}
				.ts-button:hover, input[type="submit"]:hover, .more-link:hover, button:hover{
					background:  #41C4DD;
					border-color: #41C4DD;
				}
				.blog-item .group-share a:hover, .group-share a:hover {
					color: #41C4DD;
				}
				.pagination > .active > a, 
				.pagination > .active > span, 
				.pagination > .active > a:hover, 
				.pagination > .active > span:hover, 
				.pagination > .active > a:focus, 
				.pagination > .active > span:focus,
				.pagination > li > a:hover,
				.pagination > li > a:focus,
				.page-links a:hover {
					background-color: #41C4DD;
				    border-color: #41C4DD;
				}
				.page-links > span{
					background-color: #41C4DD;
				  	border-color:#41C4DD;
				}
				.blog-quote{
					border-color: #41C4DD;
				}
				.blog-link:before{
					color: #41C4DD;
				}
				.owl-theme .owl-controls .owl-buttons div:hover, .owl-theme .owl-controls .owl-buttons div:focus {
				  background: #41C4DD;
				 }
				 blockquote{
					border-color:#41C4DD;
				}
				#searchform button[type="submit"]:hover{
					background: #41C4DD;
				}
				.widget ul li a:before, .widget_recent_comments li.recentcomments:before {
					color: #41C4DD;
				}
				.widget ul li a:hover{
					color: #41C4DD;
				}
				.domainchecker  button[type="submit"]:hover{
					background: #41C4DD!important;
				}
				.widget_tag_cloud .tagcloud a:hover{
					background: #41C4DD;
				}
				.comment-item .comment-reply-link:hover{
					color: #41C4DD;
				}
				.ts-service-style-3 .icon-service{
					color: #41C4DD;
				}
				.ts-service-style-4:hover .icon-service{
					background: #41C4DD;
					border-color: #41C4DD;
				}
				.ts-service-style-5 .icon-service{
					background: #41C4DD;


				}
				.team-item-style2 .social-network a:hover{
					background: #41C4DD;
				}
				.team-item .social-network-team  li a:hover{
					color: #41C4DD;
				}
				.ts-list-ul ul li:before{
					color: #41C4DD;
				}
				.countdownstyle1 .ts-date-countdown.ts-day-count{
					background: #41C4DD
				}
				.countdownstyle2 .ts-date-countdown.ts-day-count{
					color: #41C4DD;
				}
				#wp-calendar a:hover{
				    color: #41C4DD;
				}
				.ts-showmore:hover{
					background: #41C4DD;
				}
				.quote-type-style2:before{
					color: #41C4DD;
				}
				.ts-list-style ul li a:hover{
					color: #41C4DD;
				}
				.ts-list-style.underlist li a{
					color: #41C4DD;
				}
				#filters-portfolio .cbp-filter-item.cbp-filter-item-active,
				#filters-portfolio .cbp-filter-item:hover{
					background-color: #41C4DD;
				}
				.ts-contact-infomation a:hover{
					color: #41C4DD;
				}
				.ts-menu-sidebar > ul > li.menu-item-has-children.current_page_item > a,
				.ts-menu-sidebar > ul > li.menu-item-has-children.current_page_item > a:hover,
				.ts-menu-sidebar > ul > li.menu-item-has-children.current-menu-parent > a,
				.ts-menu-sidebar > ul > li.menu-item-has-children.current-menu-parent > a:hover,
				.ts-menu-sidebar > ul > li.current_page_item > a,
				.ts-menu-sidebar > ul > li.current_page_item > a:hover{
					background: #41C4DD;
				}
				.ts-menu-sidebar > ul > li.menu-item-has-children.current_page_item > a:after,
				.ts-menu-sidebar > ul > li.menu-item-has-children.current-menu-parent > a:after,
				.ts-menu-sidebar > ul > li.current_page_item > a:after{
					border-left: 6px solid #41C4DD;
				}
				.ts-menu-sidebar li .sub-menu a:hover,
				.ts-menu-sidebar li .sub-menu li.current_page_item a{
					color: #41C4DD;
				}
				.contact-info span{background:#00498e; }
				/* WOOCOMERCE */
				.woocommerce nav.woocommerce-pagination ul li a:hover, 
				.woocommerce nav.woocommerce-pagination ul li span.current, 
				.woocommerce #content nav.woocommerce-pagination ul li a:hover, 
				.woocommerce #content nav.woocommerce-pagination ul li span.current, 
				.woocommerce-page nav.woocommerce-pagination ul li a:hover, 
				.woocommerce-page nav.woocommerce-pagination ul li span.current, 
				.woocommerce-page #content nav.woocommerce-pagination ul li a:hover, 
				.woocommerce-page #content nav.woocommerce-pagination ul li span.current{
				    background: #41C4DD!important;
				    border-color: #41C4DD!important;
				}
				.woocommerce .star-rating span, .woocommerce-page .star-rating span {
				    color: #41C4DD!important;
				}
				.woocommerce table.cart a.remove:hover, .woocommerce #content table.cart a.remove:hover, .woocommerce-page table.cart a.remove:hover, .woocommerce-page #content table.cart a.remove:hover {
				    color: #41C4DD!important;
				}
				.woocommerce .addresses .title .edit:hover, .woocommerce-page .addresses .title .edit:hover{
				    background: #41C4DD!important;
				}
				.price_slider_amount .price_label span{
				    color: #41C4DD!important;
				}
				.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
				.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{
				    background: #41C4DD!important;
				}
				.chosen-container-single .chosen-single span:after {
				    color: #41C4DD!important;
				}
				.widget_price_filter .ui-slider-horizontal {
				    background: #41C4DD!important;
				}
				.widget_price_filter .price_slider_amount .button:hover{
				    background: #41C4DD!important;
				}
				.product-categories li a:before {
				    color: #41C4DD!important;
				}
				.product-categories li a:hover {
				    color: #41C4DD!important;
				}
				.woocommerce  a.button.product_type_simple:hover,
				.woocommerce  a.button.product_type_variable:hover,
				.woocommerce  a.button.add_to_cart_button:hover,
				.woocommerce  a.button.product_type_simple.added:hover,
				.woocommerce  a.button.product_type_simple:hover{
				    background: #41C4DD!important;
				    color: #41C4DD!important;
				}
				#commentform .stars > span a:hover:before, #commentform .stars > span a.active:before {
				  color: #41C4DD!important;
				}
				.woocommerce .comment-form input[type="submit"]:hover{
				    background: #41C4DD!important;
				}
				.shipping_calculator h2 a:hover{
				    color: #41C4DD!important;
				}
				.added_to_cart.wc-forward:hover{
				    background: #41C4DD!important;
				}
				.woocommerce-message .button:hover{
				    background: #41C4DD!important;
				}
				li.mini-shoping-cart-wraper .buttons a:hover{
				    background: #41C4DD!important;
				}
				.toggle-bar-btn {
					border-color: #41C4DD #41C4DD transparent transparent;
				}
				.widget_mc4wp_widget input[type="submit"]{
					background: #41C4DD
				}
				.ts-suport-header .header-suport  .header-phone{
					color: #41C4DD;
				}
				.ts-suport-header .header-signup-chat li.header-chat span.icon{
					background: #41C4DD;
				}
				.main-header-style2 .main-menu > ul > li > a:hover,
				.main-header-style2 .main-menu > ul > li:hover > a{
					background: none;
					color: #41C4DD;
				}
				.ts-special-offer-style2  .ts-special2 a{
					background: #41C4DD;
				}
				.ts-special-offer-style2  .ts-special2 a:hover{
					color: #41C4DD;
				}
				.ts-mediumcaption-3 span{
					color: #41C4DD;
				}
				.ts-listcaption1-3:before{
					color: #41C4DD;
				}
				.ts-listcaption1-3 span{
					color: #41C4DD;
				}
				.ts-button-s3{
					background: #41C4DD!important;
				}
				.tp-caption.ts-button-s3:hover a, .tp-caption.ts-button-s3 a:hover{color: #41C4DD;}
				.ts-button-s3:hover{
					color: #41C4DD;
				}
				.ts-small-caption-3 span{
					color: #41C4DD;
				}
				.tp-caption.ts-bg-3, .ts-bg-3{
					background: rgba(253,67, 38, 0.5)!important;
				}
				.ts-service-img .service-content a.cta_pricing{
				    background: #41C4DD;
				    border-color:#41C4DD;
				}
				.ts-service-img .service-content a.cta_pricing:hover{
				    color: #41C4DD;
				}
				.ts-pricing-table-style3 .price-icon .pricing-icon{
				    background: #41C4DD;
				}
				.ts-pricing-table-style3 .price-unit .price-unit{
				    color: #41C4DD;
				}
				.ts-pricing-table-style3.active .price-unit{
				    background: #41C4DD;
				}
				.ts-pricing-table-style3 p a.cta_pricing:hover,.ts-pricing-table-style3.active a.cta_pricing{
				    background: #41C4DD;
				    border-color:#41C4DD;
				}
				.ts-pricing-table-style3.active a.cta_pricing:hover{
				    color: #41C4DD;
				}
				li.mini-shoping-cart-wraper a:hover span,
				li.mini-shoping-cart-wraper:hover a span{
					border-color: #41C4DD;
				}
				.ts-pricingtable-5 .price-icon{
					background: #41C4DD;
				}
				.ts-pricingtable-5 .price-unit{
					color: #41C4DD;
				}
				.ts-pricingtable-5 .ts-bt-pricing{
					background: #41C4DD; 
					border-color: #41C4DD;
				}
				.ts-pricingtable-5 .ts-bt-pricing:hover{
					color: #41C4DD;
				}
				.ts-pricingtable-5 table td .inner-td.ts-icon-check, .ts-icon-check{
					color: #41C4DD;
				}
				.ts-search-whois #domain .l1 input[type="submit"]{
					background-color: #00498e;
				}
				.ts-pricing-table-style3.ts-whmpress button:hover{
					border-color: #41C4DD;
				}
				.ts-pricing-table-style3.active.ts-whmpress button{
					background: #41C4DD;
					border-color: #41C4DD;
				}
				.ts-pricing-table-style3.active.ts-whmpress button:hover{
					color: #41C4DD;
				}
				.ts-service-img.ts-whmpress .service-content button {
				  background: #41C4DD;
				  border-color: #41C4DD;
				}
				.ts-service-img.ts-whmpress .service-content button:hover {
				  color: #41C4DD;
				}
				.ts-pricing-table-style2.ts-whmpress.active button:hover {
				  color: #41C4DD;
				}
				.ts-pricing-table-style2.ts-whmpress button:hover {
				  background: #41C4DD;
				}
				.ts-pricing-table-style1.ts-whmpress button:hover, 
				.ts-pricing-table-style1.ts-whmpress button:focus {
				  background: #41C4DD;
				}
				.ts-pricing-table-style1.ts-whmpress.active button:hover{
					color: #41C4DD;
				}